* {
	margin:0;
	padding:0;
}
body {
	padding:1em 24em 3em 3em;
	font-family:'Open Sans', sans-serif;
}
.box {
	position:relative;
	margin-top:40px;
}
.box-property {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.box-inner {
	background:#9fc4e7;
	border:1px solid #666;
	text-align:center;
	line-height:1em;
	z-index:30;
}
.box-inner:before {
	content:attr(data-width) ' x ' attr(data-height);

	position:absolute;
	left:0;
	top:50%;
	margin-top:-0.5em;

	width:100%;
}
.box-padding {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:20px;

	background-color:#c2ddb6;
	border:1px dashed #666;
	z-index:20;
}
.box-margin {
	background:#f8cb9c;
	border:1px dashed #666;
	z-index:0;
}
.box-border {
	background:#feedbb;
	border:1px solid #666;
	z-index:10;
}

/* Controls */

.box-controls {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:absolute;
	top:0;
	right:0;

	width:23em;
	height:100%;
	padding:1.5em;
	background:#eee;
	background:rgba(240, 240, 240, 0.8);

	z-index:100;
}
fieldset {
	margin:0 0 1em;
	padding:1em;
}
label, input {
	display:inline-block;
	margin:0 0 0.25em;
	vertical-align:middle;
}
label {
	width:40%;
	font-size:0.8em;
}
input[type="range"] {
	width:55%;
}
.box-link-properties {
	margin-bottom:0.5em;
	padding:0;
	border:0;
}
.box-link-properties label {
	width:auto;
}
.box-link-properties input {
	margin-right:0.5em;
}

/* Code */
.box-code {
	position:absolute;
	bottom:0;
	left:0;

	width:100%;
	padding:1em 3em 3em;

	background:#eee;
	background:rgba(240, 240, 240, 0.8);

	z-index:100;
}
.box-code h2 {
	margin-bottom:1em;
}
